@{
    ViewBag.Title = "Loterias Caixa";
}

<div class="row">
    <div class="col-md-4">
        <h2>mega Sena</h2>
        <p>
            Aposte Seis Números e Fique Super Milionário!
        </p>
        <p>@Html.ActionLink("Ir", "Index", "MegaSena", null, new {@class = "btn btn-default" })</p>
    </div>
</div>